---
import {formatearPrecio} from '../../helpers/formatsPrecio.js'
export interface Props {
    nombre:string
    descripcion:string
    url:string
    precio:number
    imagen: string
}

const {nombre, descripcion, url, precio, imagen} = Astro.props;
---

<div class="moto">
    <img src={imagen} alt=`Imagen moto ${nombre}`>
   
    <div class="contenido">
        <h3>{nombre}</h3>
        <p class="descripcion">{descripcion}</p>
        <p class="precio">${formatearPrecio(precio)}</p>
        <a href={`/motos/${url}`} class="enlace">Ver moto</a>
    </div>
</div>

<style>
    
.moto {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 1rem;
    align-items: center;
    justify-content: space-between;
    max-width: 70rem;
    margin: 0 auto;
}

@media (min-width: 768px){
    .moto{
        grid-template-columns: 1fr 2fr
        grid-row-gap: 10rem;
    }
}

@media (min-width: 992px){
    .moto{
        grid-template-columns: 2fr 1fr
    }
}
.contenido {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    height: 100%;
}
.contenido h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: var(--primary);
}
.descripcion {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 6;
    overflow: hidden;
    font-size: 1.8rem;
}
.precio {
    color: var(--primary);
    font-size: 2.5rem;
    margin: 0;
    font-weight: 900;
}
.enlace {
    margin-top: 2rem;
    display: block;
    background-color: var(--bg-300);
    color: var(--text-200);
    text-decoration: none;
    padding: 1rem;
    text-align: center;
    text-transform: uppercase;
    border-radius: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    transition-property: background-color;
    transition-duration: 300ms;
}
.enlace:hover {
    background-color: var(--secondary);
}

</style>